@font-face {
  font-family: "WorkSans-bold";
  src: url("./assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-regular";
  src: url("./assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-semibold";
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

:root {
  /* COLORS */
  --White: hsl(0, 100%, 100%);
  --Purple-950: hsl(292, 42%, 14%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-100: hsl(275, 100%, 97%);
  --Violet-600: hsl(281, 83%, 54%);
  /* FONTS */
  --WorkSans-bold: "WorkSans-bold", sans-serif;
  --WorkSans-regular: "WorkSans-regular", sans-serif;
  --WorkSans-semibold: "WorkSans-semibold", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--WorkSans-regular);
  font-size: 1.6rem;
  background-color: var(--Purple-100);
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100dvh;
  padding: 13.05rem 2.4rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--White);
  border-radius: 0.8rem;
  padding: 2.4rem;
}

img {
  display: block;
  max-width: 100%;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

hr {
  height: 0.1rem;
  border: none;
  background-color: var(--Purple-100);
}

/* TITLE STARTS HERE */

.header-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.star-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.header {
  font-family: var(--WorkSans-bold);
  line-height: 38px;
  color: var(--Purple-950);
}

/* TITLE ENDS HERE */

/* ACCORDION STARTS HERE */

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.question {
  display: flex;
  align-items: center;
  min-height: 3rem;
  font-family: var(--WorkSans-semibold);
  line-height: 1.9rem;
  color: var(--Purple-950);
  position: relative;
  padding-right: 5.4rem;
  cursor: pointer;
}

.question::after {
  content: "";
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-image: url("./assets/images/icon-plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

details[open] > .question::after {
  background-image: url("./assets/images/icon-minus.svg");
}

.answer {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--Purple-600);
}

/* ACCORDION ENDS HERE */

/* TABLET STARTS HERE */

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-size: initial;
    background-position: center top;
    padding: 16.75rem 8.4rem;
  }

  main {
    gap: 3.2rem;
    border-radius: 1.6rem;
    padding: 4rem;
  }

  /* TITLE STARTS HERE */

  .star-icon {
    width: 4rem;
    height: 4rem;
  }

  .header {
    line-height: 6.6rem;
    font-size: 5.6rem;
  }

  /* TITLE ENDS HERE */

  /* ACCORDION STARTS HERE */

  .question {
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-right: 3.1rem;
  }

  .answer {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  /* ACCORDION ENDS HERE */
}

/* TABLET ENDS HERE */

/* DESKTOP STARTS HERE */

@media only screen and (min-width: 1440px) {
  body {
    background-size: contain;
    padding: 16.75rem 42rem;
  }
}

/* DESKTOP STARTS HERE */

/* HOVER EFFECT */

.question:hover {
  color: var(--Violet-600);
}

.question:focus {
  color: var(--Violet-600);
  outline: none;
}
